/*********************************
 * Archivo: estilos.css          *
 * Autor: Eduardo Alveo          *
 * Versión: 0.4.0                *
 * Fecha-Modificado: 20-Dic-2020 *
 * *******************************/
*{
  box-sizing:border-box;
}

/* Reiniciando los estilos */
body, header, main, footer,
div, p, span,
h1, h4,
form, fieldset, legend, label, input{
  margin:0;
  padding:0;
  font:inherit;
  font-size:100%;
  vertical-align:baseline;
}

/* Configuración General */
body{
  font-size:0.875em;
  font-family:sans-serif;
  width:100%;
}

.cabecera{
  background-color:#395c92;
  color:white;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
}
.cabeceraTitulo{
  font-size:1.4em;
  padding:8px 10px;
}
.cabeceraParrafo{
  padding:11px 10px;
}

.campo{
  padding:6px 4px;
  border:1px solid #888a85;
}
.campo-conMargen{
  margin-bottom:1em;
}
.campoEtiqueta{
  display:inline-block;
  padding:5px 0;
  width:80px;
}
.campoInput{
  padding:5px 0;
  vertical-align:middle;
}
.campoInput-color{
  height:40px;
  width:60px;
}
.campoLeyenda{
  padding:4px;
}
.campoValor{
  float:right;
}

.columna{
  padding:8px 4px;
}
.columnaColor{
  height:100px;
  width:200px;
}

.contenido{
  background-color:#CDD9E4;
  width:100%;
  height:542px;
}
.contenidoContenedor{
  margin:0 auto;
  width:60%;
  padding-top:1em;
}
.contenidoSubContenedor{
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  justify-content:space-around;
}

.parrafo{
  padding:5px 0;
}
.parrafoEtiqueta{
  font-weight:600;
}

.pie{
  background-color:#395c92;
  color:white;
  width:100%;
}
.pieParrafo{
  text-align:center;
  padding:6px 0;
}

.seccion{
  padding:10px 0;
}
.seccionTitulo{
  font-size:1.2em;
  padding:6px 0;
}

/* Media Query */
@media screen and (max-width:500px){
  .contenidoContenedor{
    width:90%;
  }
}
