/*********************************
 * Archivo: estilos.css          *
 * Autor: Eduardo Alveo          *
 * Fecha-Modificado: 13-Feb-2021 *
 * *******************************/
*{
  box-sizing:border-box;
}

/* Reiniciando los estilos */
body, header, main, footer,
div, p, span,
h1, h4,
form, fieldset, legend, label, input{
  margin:0;
  padding:0;
  font:inherit;
  font-size:100%;
}

body{
  background-color:#E2E9ED;
  display:grid;
  font-family:Liberation Sans, Arial, sans-serif;
  font-size:0.875em;
  grid-gap:20px;
  grid-template:"cabecera cabecera cabecera cabecera" 1fr
                ". areaColor codigoColor ." 2fr
                ". selectorHtml selectorRGB." 3fr
                "piePagina piePagina piePagina piePagina" 1fr /
                1fr        1fr       auto       1fr;
  letter-spacing:1px;
  width:100%;
}

/* Configurando la cabecera */
.cabecera{
  align-items:center;
  background-color:#395c92;
  color:white;
  display:flex;
  grid-area:cabecera;
  justify-content:space-between;
  padding:10px;
}

.cabeceraTitulo{
  font-size:1.3em;
}

/* Configurando el contenido */
.campoColor{
  grid-area:areaColor;
}

.codigoColor{
  grid-area:codigoColor;
}
.codigo-color{
  font-weight:500;
}
.codigoEtiqueta{
  font-weight:600;
  padding:5px 0;
}
.codigoTitulo{
  font-size:1.2em;
  padding:0 0 5px;
}

.formulario{
  padding:0px;
}
.formularioEtiqueta{
  display:inline-block;
  padding:5px 0;
  width:75px;
}
.formularioEtiqueta-totalColor{
  float:right;
}
.formularioMarco{
  border:1px solid #3568a4;
  padding:8px;
}
.formularioRango{
  vertical-align:middle;
  width:50%;
}
.formularioTitulo{
  padding:5px;
}

.selectorHtml{
  grid-area:selectorHtml;
}

.selectorRGB{
  grid-area:selectorRGB;
}

/* Configurando el pie de página */
.pieweb{
  grid-area:piePagina;
  padding:10px;
  text-align:center;
}

@media screen and (min-width:600px){
  body{
    grid-template:"cabecera cabecera cabecera cabecera" 1fr
                  ". areaColor codigoColor ." 2fr
                  ". selectorHtml selectorRGB." 3fr
                  "piePagina piePagina piePagina piePagina" 1fr /
                  1fr        1fr       3fr       1fr;
  }
  .formularioEtiqueta{
    width:80px;
  }
}

@media screen and (min-width:900px){
  body{
    grid-template:"cabecera cabecera cabecera cabecera" 0fr
                  ". areaColor selectorHtml ." 1fr
                  ". codigoColor selectorRGB ." 1fr
                  "piePagina piePagina piePagina piePagina" 0fr /
                  1fr        1fr       1fr       1fr;
  }
  .formularioEtiqueta{
    width:80px;
  }
}
