*, *::before, *::after {
  box-sizing: border-box;
}

/* Reset Styles */
body, form, input, label, button, li, p, ul, ol, span, a, header, main, footer, article, section, aside, nav, div, h1, h2, h3, h4, h5, h6 {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: Liberation Sans, Arial, sans-serif;
  font-size: 0.875em;
  letter-spacing: 1px;
  line-height: 1;
  width: 100%;
}

.header {
  align-items: center;
  background-color: #343A40;
  color: #F8F9FA;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.header__title {
  font-size: 1.3em;
}

.content {
  display: grid;
  gap: 2em 1em;
  grid-template: "colorBox     colorCode" "selectorHTML selectorRGB";
  margin: 0 auto;
  width: 90%;
}

.section {
  padding: 6px;
}
.section--colorBox {
  grid-area: colorBox;
}
.section--colorCode {
  grid-area: colorCode;
}
.section--selectorHTML {
  grid-area: selectorHTML;
}
.section--selectorRGB {
  visibility: hidden;
  grid-area: selectorRGB;
}
.section__form {
  padding: 3px;
}
.section__input {
  padding: 3px;
  vertical-align: middle;
}
.section__label {
  display: inline-block;
  width: 100px;
}
.section__label--value {
  float: right;
}
.section__output {
  height: 100%;
  padding: 10px;
  width: 100%;
}
.section__text {
  padding: 5px;
}
.section__title {
  font-size: 1.2em;
  padding: 6px;
}

@media screen and (min-width: 800px) {
  .content {
    width: 50%;
  }
}
