@use 'variables' as utils;

.content{
  display: grid;
  gap: 2em 1em;
  grid-template: "colorBox     colorCode"
                 "selectorHTML selectorRGB";
  margin: 0 auto;
  width: 90%;
}

.section{
  padding:6px;
  
  &--colorBox{
    grid-area: colorBox;
  }
  
  &--colorCode{
    grid-area: colorCode;
  }
  
  &--selectorHTML{
    grid-area: selectorHTML;
  }
  
  &--selectorRGB{
    visibility: hidden;
    grid-area: selectorRGB;
  }
  
  
  &__form{
    padding: 3px;
  }
  
  &__input{
    padding: 3px;
    vertical-align: middle;
  }
  
  &__label{
    display: inline-block;
    width: 100px;
  }
  
  &__label--value{
    float: right;
  }
  
  &__output{
    border: 1px solid rgb(179, 173, 173);
    height: 100%;
    padding: 10px;
    width: 100%;
  }
  
  &__text{
    padding: 5px;
  }
  
  &__title{
    font-size: 1.2em;
    padding: 6px;
  }
}
