// Color Palette
$charlestonGreen: #212529;
$gunmetal: #343A40;
$davysGrey: #495057;
$slateGray: #6C757D;
$cadeBlueCrayola: #ADB5BD;
$lightGray: #CED4DA;
$gainsboro: #DEE2E6;
$cultured: #E9ECEF;
$cultured2: #F8F9FA;


// Header Colors
$hBackground: $gunmetal;
$hTextColor: $cultured2;
